* {border: 0;margin: 0}
a{
    text-decoration: none;
}
::selection {
    background: #fbf95b; /* Safari */
}
::-moz-selection {
    background: #fbf95b; /* Firefox */
}


body{
    background: #fff url('../images/paven.png') 0 0 repeat;
    font-family:  'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Open Sans';
    vertical-align: baseline;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.8em;
    line-height: 1.65em;
    color: #444;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

.indent{
    text-indent: 1.2rem;
}

.centered{
    text-align: center;
}
.text-justified{
    text-align: justify;
}

.myLoginModalTitle{
    font-weight: bold;
}

.container{
    width: 90%;
}

.spike{
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    padding-bottom: 2rem;
}

.header {
    background-color: #0778bf;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    clear: both;
    min-height: 6rem;
    max-height: 6rem;
}


.headerLogo {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    position : static;
    padding-left: 1.5rem;
    padding-top: 1rem;
    width: 100%;
    z-index: 200;
}

.headerButtons{
    z-index: 50;
}

.pathclearer{
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.contentBody {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -1.5rem;
    position: relative;
    min-height: 75rem;
    z-index: auto;
    height: 100%;
}

#sparkflowEmbed{
    height : 100%;
    width : 100%;
    overflow : hidden;
}

.col-md-12{
    display: table-row;
}

.footer {
    background-color: #0778bf;
    min-height: 18rem;
    text-align: left;
    color: #ffffff;
    padding-top: 1rem;
    bottom: 0;
}

.footer a{
    color: #ffffff;
}

.datalake{
    height: 15rem;
    align-content: center;
}

.dltag{
    font-size: 2rem;
    font-style: italic;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

hr{
    width: 100%;
    color: #2aabd2;
}

.inborder {
    -webkit-box-shadow:inset 0px 0px 0px 0.1rem #f00;
    -moz-box-shadow:inset 0px 0px 0px 0.1rem #f00;
    box-shadow:inset 0px 0px 0px 0.1rem #f00;
    //max-height: 21rem;
    overflow-y: auto;
}


.banner{
    position: relative;
    padding: 0;
    margin-top: -2rem;
    display: table;
}

.banner img{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-height: 33rem;
    left:0;
}

.banner h1 {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    left: 0;
    right: 0;
    margin-top: 8%;
    color: white;
    //text-shadow: 0.3rem 0.25rem 0.3rem #0778bf;
}


.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.navbar-collapse{
    background-color: #0778bf;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a,.navbar-nav>li>.dropdown-menu>li>a {
    color: #fff;
}

.navbar-collapse .navbar-nav>.open>.dropdown-menu>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background: transparent;
    border: 0.2rem solid #fff;
    padding: 0.8rem;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background: transparent;
    border: 0.2rem solid #fff;
    padding: 0.8rem;
}
.navbar-default .navbar-nav>.open>.dropdown-menu>li>a:focus, .navbar-default .navbar-nav>.open>.dropdown-menu>li>a:hover {
    color: #fff;
    background: transparent;
}

.navbar-nav>li>.dropdown-menu {
    background : #0f7cbf;
}

.navbar-default .navbar-header > a.navbar-brand{
    display: inline-block;
    color: #ffffff;
}

.breadcrumb > li + li:before {
    color : #000000;
}

.s3Folder:hover{
    text-decoration: none;
}

.contactSection {
    border-right: 1px dashed #000;
    padding-right: 5rem;
}

.shortIntros{
    padding-left: 5rem;
}

.dropdown-menu > li > a > span::after{
    content: "\00a0";
}

.streamresult{
    overflow: auto;
    height: 50rem;
}

.s3Object{
    color: #000;
}

@media only screen and (min-width: 768px) {
    .modal {
        text-align: center;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .modal.fade .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

body.modal-open {
    overflow: auto;
    padding-right: 0 !important
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important;
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

.checkDiv{
    padding-left: 1.5rem;
}

@keyframes fa-blink {
    0% { opacity: 1; }
    10% { opacity: 1; }
    20% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    70% { opacity: 1; }
    80% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
.fa-blink {
    -webkit-animation: fa-blink 0.5s linear infinite;
    -moz-animation: fa-blink 0.5s linear infinite;
    -ms-animation: fa-blink 0.5s linear infinite;
    -o-animation: fa-blink 0.5s linear infinite;
    animation: fa-blink 0.5s linear infinite;
}